<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Sign-up</title>
    <div th:replace="~{common :: head}"></div>
</head>
<body>
<h1>CodeFellowship Account Creation</h1>
<h2>Please Fill in Your Information</h2>
        <form action="/signup" method="POST">
            <input placeholder="Username" name="username" />
            <input placeholder="password" type="password" name="password" />
            <input placeholder="First Name" name="firstName" />
            <input placeholder="Last Name" name="lastName" />
            <input placeholder="DOB" type="date" name="dateOfBirth" />
            <input placeholder="Student Bio" name="bio" />
            <input type="submit" />
        </form>

<div th:replace="~{common :: nav}"></div>
</body>
</html>